# Vivado 生成ファイル
project_1.cache/
project_1.gen/
project_1.hw/
project_1.ip_user_files/
project_1.runs/
project_1.sim/
project_1.tmp/
*.jou
*.log
*.str
*.backup.jou
*.backup.log
ip_upgrade.log

# Vitis 生成ファイル (app src のみ管理対象)
vitis/platform*/
vitis/app_component/build/
vitis/app_component/.metadata/

# その他
desktop.ini
.DS_Store
